@media screen and (max-width: 1200px){
    .img {
        width: 300px;
    }
    .img img{
        width: 100%;
    }
}

@media screen and (min-width: 993px){
    .wrapMenu {
        display: none;
    }
}
@media screen and (max-width: 992px){
    .genreWrap {
        display: none;
    }
    .genreWrapMobile {
        top: 10px;
    }
    .wrapMenu {
        width: 100px;
        height: 100px;
        position: absolute;
        left: -35px;
        top: -105px;
    }
    .wrapMenu_line {
        height: 10px;
        width: 50px;
        background-color: orange;
        margin-top: 40px;
    }
    .wrapMenu_line::before,.wrapMenu_line::after {
        content: '';
        height: 10px;
        width: 50px;
        background-color: orange;
        position: absolute;
        top: 10px;

    }
    .wrapMenu_line::after {
        top: 70px;
    }

}

@media screen and (max-width: 768px){
    .descrWrap {
        width: 300px;
    }
   .descrWrap .descr {
        font-size: 15px;
    }
   .headerWrap {
       flex-direction: column;
       align-items: center;
   }
    .loginWrap .login {
        margin: auto;
    }

}
@media screen and (max-width: 576px){
    .changePage {
      display: block;
        margin: 10px auto;
    }
    .genreWrapMobile {
        width: 300px;
    }
    .wrapImg {
        margin: auto;
    }
    .container div {
        text-align: center;
    }
    .rating {
        justify-content: center;
    }
    .wrapMenu {
        top:-100px;
        left: 50px;
    }
    .wrapInfo {
        flex-direction: column;
    }


}
@media screen and (max-width: 320px){
    .headerWrap, .wrapInfo {
        padding: 0;
    }
    .wrapMenu {
        left: 20px;
    }
    .msgNoAcaunt {
        width: 200px;
    }
    form {
        padding: 50px 0;
    }
}