.myPage {
    color: red;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}
.page {
    text-align: center;
}
.changePage {
    background-color: aqua;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.noFilm {
    padding: 20px;
    width: 300px;
}