form {
    margin: 0 auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div {
    width: 120px;
}
form input {
    margin-bottom: 20px;
}

form button {
    background-color: aqua;
    padding: 10px 30px;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.formWrap {
    padding-bottom: 100%;
}
.doneRegistration {
    text-align: center;
}
.messg {
    text-align: center;
}